*{
    margin: 0px;
    padding:0px;
}
body{
    background-color:#e2e2e2af;
}
a{
    text-decoration:none;
    color:rgb(75, 75, 75);
    font-family: sans-serif;
}

.topbar{
    width: 1280px;
    height: 24px;
    background-color: #202020;
    position: sticky;
    top:0px;
    z-index: 99;
  
}
.topbar >a{
    color:#FFF;
    margin:0 20px
}

.topbar ul{
    float:right;
     
}
.topbar li{

    height: 24px;
    line-height: 24px;
    float:left;
    margin:0 10px;
    list-style: none;
    
}
.topbar li a{
    color:#FFF;
}
.topbar li a:hover{
    color:#FFF;
    background-color: coral;
}

/* .notlogin{
    display: none;
} */

.main{
    
    width: 900px;
    height: 880px;
    background-color: sandybrown;
    margin:0 auto;

}

.header{
    width: 900px;
    height: 100px;
    background-color: rgb(235, 131, 34);
    position: relative;
}
.logo{
    background-color: #FFAE2C;
    width: 80px;
    height: 60px;
    position:absolute;
    top:20px;
    left: 40px;
    box-shadow: 0px 0px 1px rgb(56, 56, 56);
    border-radius: 6px;
}
.header h1{
    text-align: center;
    line-height: 100px;
}

.asider{
    width: 900px;
    height: 180px;
    background-color: seashell;
    display:grid;
    grid-template-columns: 3fr 7fr ;
}

.in_aside{
    background-color: rgb(235, 208, 135);
}

.in_aside ul li{
    width: 100%;
    height: 30px;
    list-style: none;
    text-align: center;
}
.in_aside ul li a{
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.in_aside ul li:nth-child(even){
    background-color: sandybrown ;
}
.in_aside ul li a:hover{
    background-color:rgb(21, 161, 255);
}

.img_bar{

    width: 630px;
    height: 180px;

}
.img_title{
    width: 100%;
    height: 30px;
    background: rgb(29, 198, 250);
    text-align: center;
    line-height: 30px;
    
}
.second_title{
    font-size: 24px;
    font-weight:bold;
}
.img_main{
    width: 900px;
    height: 560px;
    margin:0 auto;
  
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* grid-row-gap: 20px; */
    /* justify-content: center; */
    /* align-content: center; */
    place-items:center center;
    overflow:auto;
}

.product_card{
    width: 140px;
    height: 260px;
    /* border:2px black solid; */
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(197, 94, 21, 0.733);
    box-shadow: 0px 0px 2px rgb(17, 17, 17);


}
.product_card span{

    font-size: 12px;

}
.product_card:hover{
    background-color: rgb(245, 108, 11);
}
.product_card img{

    width: 120px;
    height: 120px;
    margin-top: 6px;
    /* margin-left: 5px; */
    border-radius: 4px;
    box-sizing: border-box;

}

.car{
    width: 60px;
    height: 40px;
    /* background-color: black; */
   
    border: rgb(175, 114, 114) 2px solid;
    position:sticky;
    top: 500px;
    float:right;
    right:100px;
    color:coral;
    
}
.car:hover{
    color:white;
    background-color: rgb(182, 71, 31);
    border: rgb(233, 17, 17) 2px solid;;
}


